<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/deer.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Carlos Alonso. 
                It uses data from 
<a href="https://www.mapbox.com/">Mapbox</a> and <a href="https://weatherstack.com/">weatherstack</a>.</p>
            <img class="portrait" src="/img/shevo.jpg">
        </div>
        {{>footer}}
    </body>
</html>